#ext_menu-1 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-1.mbr-navbar--stuck .mbr-navbar__section {
  background: #9365b8;
}
#ext_menu-1 .mbr-navbar__section {
  background: #9365b8;
}
#ext_menu-1 .mbr-navbar__hamburger {
  color: #ffffff;
}
#header4-2 H1 {
  color: #27aae0;
}
#header4-2 P {
  color: #2c82c9;
}
#msg-box5-3 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-3 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-3 .mbr-article {
  color: #ffffff;
}
#ext_menu-w .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-w.mbr-navbar--stuck .mbr-navbar__section {
  background: #9365b8;
}
#ext_menu-w .mbr-navbar__section {
  background: #9365b8;
}
#ext_menu-w .mbr-navbar__hamburger {
  color: #ffffff;
}
#content1-1a P {
  color: #b8312f;
}
#content1-1b P {
  color: #000000;
}
#content1-1c P {
  color: #2969b0;
}
#content1-15 P {
  color: #28324e;
}
#ext_menu-m .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-m.mbr-navbar--stuck .mbr-navbar__section {
  background: #9365b8;
}
#ext_menu-m .mbr-navbar__section {
  background: #9365b8;
}
#ext_menu-m .mbr-navbar__hamburger {
  color: #ffffff;
}
#content5-r .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
}
#content5-r .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-r .mbr-article {
  color: #fff;
}
#content5-r .mbr-article P {
  color: #2c2c2c;
}
#content5-s .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-s .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-s .mbr-article {
  color: #fff;
}
#content5-t .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
}
#content5-t .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-t .mbr-article {
  color: #fff;
}
#content5-t .mbr-article P {
  color: #000000;
}
#ext_menu-z .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-z.mbr-navbar--stuck .mbr-navbar__section {
  background: #9365b8;
}
#ext_menu-z .mbr-navbar__section {
  background: #9365b8;
}
#ext_menu-z .mbr-navbar__hamburger {
  color: #ffffff;
}
#content1-1e P {
  color: #b8312f;
}
#pricing-table1-17 DIV {
  color: #000000;
}
